<div class="resourcelist ob-resource-list vessels-list">
  <mat-card class="resource-header">
    <mat-card-title>
      <div class="title-block">
        <div style="width: 50px">
          <obc-icon-button
            (click)="close()"
            matTooltip="Close Vessels List"
            matTooltipPosition="right"
            aria-label="Close Vessels List"
            ><mat-icon>arrow_back</mat-icon></obc-icon-button
          >
        </div>
        <div class="resource-heading">Vessels</div>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="resource-filter">
        <div class="resource-search">
          <mat-form-field floatLabel="always" subscriptSizing="dynamic">
            <mat-label>Type to filter list</mat-label>
            <input
              #ftext
              type="text"
              matInput
              [disabled]="app.config.selections.aisFilterByShipType"
              [value]="filterText"
              (keyup)="filterKeyUp(ftext.value)"
            />
            @if(filterText) {
            <obc-icon-button
              matSuffix
              (click)="filterKeyUp('')"
              aria-label="Clear filter"
              ><mat-icon>close</mat-icon></obc-icon-button
            >
            }
          </mat-form-field>
        </div>
        <div>
          <obc-icon-button
            (click)="initItems()"
            matTooltip="Reload Vessels"
            matTooltipPosition="below"
            [disabled]="app.config.selections.aisFilterByShipType"
            aria-label="Reload Vessels"
            ><mat-icon>refresh</mat-icon></obc-icon-button
          >
        </div>
        <div>
          <mat-checkbox
            #selall
            [disabled]="app.config.selections.aisFilterByShipType"
            [checked]="allSel"
            [indeterminate]="someSel"
            (change)="toggleAll($event.checked)"
            [matTooltip]="(!selall.checked || someSel) ? 'Select All' : 'Deselect All'"
            matTooltipPosition="below"
          >
          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions
      class="vessel-filter"
      [class.stacked]="app.featureFlags().buddyList"
    >
      <span class="filter-label">Filter:</span>
      <div class="filter-toggles">
        <mat-slide-toggle
          [checked]="app.config.selections.aisFilterByShipType"
          (change)="toggleFilterType($event.checked)"
        >
          Ship Type
        </mat-slide-toggle>
        <mat-slide-toggle
          [checked]="onlyIMO"
          (change)="shipTypeSelect($event.checked, -999)"
        >
          IMO Only
        </mat-slide-toggle>
        @if (app.featureFlags().buddyList) {
        <mat-slide-toggle
          [checked]="onlyBuddies"
          (change)="shipTypeSelect($event.checked, -998)"
        >
          Buddies Only
        </mat-slide-toggle>
        }
      </div>
    </mat-card-actions>
  </mat-card>

  <div class="resources vessels" [class.buddies]="app.featureFlags().buddyList">
    @if(this.app.sIsFetching()) {
    <mat-progress-bar mode="query"></mat-progress-bar>
    } @if (app.config.selections.aisFilterByShipType) {
    <mat-card class="vessel-types">
      <mat-card-content>
        @for (i of shipTypes; track i.id) {
        <div style="display: flex">
          <div style="width: 35px">
            <mat-icon [svgIcon]="i.icon"></mat-icon>
          </div>
          <div style="flex: 1 1 auto; padding-left: 7px">
            <b>
              {{i.description}}
              <span style="font-style: italic; font-size: smaller">
                @if(i.id !==0){ ({{i.id}}-{{i.id + 9}}) }
              </span>
            </b>
          </div>
          <div style="text-align: right">
            <mat-checkbox
              [checked]="i.selected"
              (change)="shipTypeSelect($event.checked, i.id)"
              matTooltip="Show in Map"
              matTooltipPosition="left"
            >
            </mat-checkbox>
          </div>
        </div>
        }
      </mat-card-content>
    </mat-card>

    } @else {
    <cdk-virtual-scroll-viewport class="vscroller" itemSize="104">
      <mat-card
        *cdkVirtualFor="let r of filteredList(); let i= index;"
        class="resource-row"
      >
        <mat-card-content>
          <div style="display: flex">
            <div class="resource-details">
              <a
                class="vessel-name"
                tabindex="0"
                role="button"
                (keydown.enter)="itemProperties(r[0])"
                (keydown.space)="$event.preventDefault(); itemProperties(r[0])"
                (click)="itemProperties(r[0])"
                matTooltip="Vessel Properties"
                matTooltipPosition="right"
              >
                <mat-icon [svgIcon]="getShipIcon(r[1].type?.id )"></mat-icon>
                <b
                  >{{(r[1].name) ? r[1].name : (r[1].mmsi) ? r[1].mmsi :
                  'Vessel-' + i}}</b
                >
              </a>
            </div>
            <div style="text-align: right">
              <mat-checkbox
                [checked]="r[2]"
                (change)="itemSelect($event.checked, r[0])"
                matTooltip="Show in Map"
                matTooltipPosition="left"
              >
              </mat-checkbox>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div style="display: flex; flex-wrap: wrap">
            <div style="flex: 1 1 auto">
              @if(r[0] !== focusId()) {
              <obc-icon-button
                (click)="focus(r[0])"
                matTooltip="Focus vessel"
                aria-label="Focus vessel"
                ><mat-icon>center_focus_weak</mat-icon></obc-icon-button
              >
              } @else {
              <obc-icon-button
                (click)="focus();"
                matTooltip="Clear vessel focus"
                aria-label="Clear vessel focus"
                ><mat-icon>clear_all</mat-icon></obc-icon-button
              >
              }
            </div>
            <obc-icon-button
              [disabled]="app.uiConfig().mapMove"
              (click)="emitCenter(r[1].position)"
              matTooltip="Center Vessel"
              aria-label="Center Vessel"
              ><mat-icon>center_focus_strong</mat-icon></obc-icon-button
            >
            @let trackShown = app.isVesselTrackShown(r[0]);
            <span
              [matTooltip]="
                app.config.vessels.aisShowTrack
                  ? 'Turn off &quot;Show all tracks&quot; to enable'
                  : trackShown
                    ? 'Hide vessel track'
                    : 'Show vessel track'
              "
            >
              <obc-icon-button
                (click)="app.toggleVesselTrack(r[0])"
                [disabled]="app.config.vessels.aisShowTrack"
                [ariaLabel]="trackShown ? 'Hide vessel track' : 'Show vessel track'"
                ><mat-icon
                  >{{ trackShown ? 'layers_clear' : 'route' }}</mat-icon
                ></obc-icon-button
              >
            </span>
            @if (trackHistory.available()) { @let historyShown =
            trackHistory.isShown(r[0]); @let noHistory =
            trackHistory.hasHistory(r[0]) === false;
            <span
              [matTooltip]="
                  historyShown
                    ? 'Hide track history'
                    : noHistory
                      ? 'No recorded track history'
                      : 'Show track history'
                "
            >
              <obc-icon-button
                (click)="trackHistory.toggle(r[0])"
                [disabled]="noHistory && !historyShown"
                [ariaLabel]="historyShown ? 'Hide track history' : 'Show track history'"
                ><mat-icon
                  >{{ historyShown ? 'history_toggle_off' : 'history'
                  }}</mat-icon
                ></obc-icon-button
              >
            </span>
            }
            <div>
              <obc-icon-button
                (click)="itemProperties(r[0])"
                matTooltip="Vessel Properties"
                aria-label="Vessel Properties"
                ><mat-icon>info_outline</mat-icon></obc-icon-button
              >
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </cdk-virtual-scroll-viewport>
    }
  </div>
</div>
